<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>الردود التلقائية</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container mb-2">
    <header class="d-flex justify-space-between align-center">
      <h1>الردود</h1>
      <button class="button button-success" id="add-reply-button">إضافة رد</button>
    </header>
    <div class="accordion-container">
      {% for reply in automaticReplies %}
      <div class="accordion-item">
        <h3 class="accordion-header">أي رسالة تحتوي على: <input type="text" class="form-control contains-input" value="{{ reply.contains }}" required></h3>
        <div class="accordion-body">
          <p>الرد: <input type="text" class="form-control message-input" value="{{ reply.message }}" required></p>
          <div class="d-flex justify-space-between align-center">
            <h4>الاختيارات</h4>
            <button class="button button-success" onclick="addChoice(event)">إضافة اختيار</button>
          </div>
          {% for response in reply.responses %}
          <div class="reply">
            <p>اسم الاختيار: <input type="text" class="form-control response-title-input" value="{{ response.title }}" required></p>
            <h5>محتوى الرد</h5>
            <textarea class="form-control w-100 response-content-input" required>{{ response.content }}</textarea>
            <div class="d-flex justify-end">
              <button class="button button-danger" onclick="removeChoice(event)">حذف</button>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="d-flex justify-end">
          <button class="button button-danger" onclick="removeReply(event)">حذف بالكامل</button>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="d-flex justify-end">
      <button class="button button-primary" onclick="saveData()">حفظ</button>
    </div>
  </div>
  <script>
    document.getElementById('add-reply-button').addEventListener('click', function () {
      const template = `
      <div class="accordion-item">
        <h3 class="accordion-header">أي رسالة تحتوي على: <input type="text" class="form-control contains-input" required></h3>
        <div class="accordion-body">
          <p>الرد: <input type="text" class="form-control message-input" required></p>
          <div class="d-flex justify-space-between align-center">
            <h4>الاختيارات</h4>
            <button class="button button-success" onclick="addChoice(event)">إضافة اختيار</button>
          </div>
          <div class="reply">
            <p>اسم الاختيار: <input type="text" class="form-control response-title-input" required></p>
            <h5>محتوى الرد</h5>
            <textarea class="form-control w-100 response-content-input" required></textarea>
            <div class="d-flex justify-end">
              <button class="button button-danger" onclick="removeChoice(event)">حذف</button>
            </div>
          </div>
        </div>
        <div class="d-flex justify-end">
          <button class="button button-danger" onclick="removeReply(event)">حذف بالكامل</button>
        </div>
      </div>
      `
      document.querySelector('.accordion-container').innerHTML += template
    })

    function addChoice (event) {
      const accordoinBody = event.target.parentElement.parentElement
      const template = `
      <div class="reply">
        <p>اسم الاختيار: <input type="text" class="form-control response-title-input" required></p>
        <h5>محتوى الرد</h5>
        <textarea class="form-control w-100 response-content-input" required></textarea>
        <div class="d-flex justify-end">
          <button class="button button-danger" onclick="removeChoice(event)">حذف</button>
        </div>
      </div>
      `
      accordoinBody.innerHTML += template
    }

    function removeChoice (event) {
      const choice = event.target.parentElement.parentElement
      const accordoinBody = choice.parentElement
      if (accordoinBody.querySelectorAll('.reply').length > 1) choice.remove()
      else alert('يجب أن يكون هناك اختيار واحد على الأقل.')
    }

    function removeReply (event) {
      const reply = event.target.parentElement.parentElement
      reply.remove()
    }

    function saveData () {
      const data = []
      const items = document.querySelectorAll('.accordion-item')
      for (const item of items) {
        const obj = {}
        obj.contains = item.querySelector('.contains-input').value
        obj.message = item.querySelector('.message-input').value
        if (!obj.contains || !obj.message) return alert('هناك حقل فارغ. يرجى كتابة كل الحقول.')
        obj.type = 'reply'
        obj.responses = []
        for (const replyEl of item.querySelectorAll('.reply')) {
          const reply = {}
          reply.title = replyEl.querySelector('.response-title-input').value
          reply.content = replyEl.querySelector('.response-content-input').value
          if (!reply.title || !reply.content) return alert('هناك حقل فارغ. يرجى كتابة كل الحقول.')
          obj.responses.push(reply)
        }
        data.push(obj)
      }

      fetch('/save', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(data)
      })
        .then(response => response.json())
        .then(data => alert(data.message))
        .catch(() => alert('حدث خطأ ما. يرجى إعادة المحاولة'))
    }
  </script>
</body>
</html>